.title{
    text-align: center;
    background-color: #343B3F;
    color: #FFFFFF;
    padding: 10px;
    margin-left:-30px;
    margin-right:-30px;
}
.city-content{
    border: lightgrey solid 1px;
    padding: 20px;
}
.search-content{
    background-color: #F8F9FA;
    padding: 20px;
}
h2{
    display: inline;
}
.good{
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 10px;;
}
.moderate{
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 10px;;
}
.bad{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 10px;;
}
#forecast-title{
    padding: 20px;
}
.card{
    width: 250px;
}
.list-group{
    padding-top: 20px;
}
.info-content{
    padding-bottom: 20px;
}
.list-group-item{
    font-size: 15px;
    font-weight: bold;
}
.clear-button{
    display: none;
}